:root {
  --benefits-card-width-320: 238px;
  --benefits-card-width-1440: 300px;

  --benefits-card-icon-height-320: 80px;
  --benefits-card-icon-height-1440: 100px;
  
  --benefits-card-height-320: 320px;
  --benefits-card-height-1440: 400px;

  --hiw-card-icon-width: 40px;

  --hiw-card-height-320: 150px;
  --hiw-card-height-1440: 180px;

  --hiw-card-width-320: 280px;
  --hiw-card-width-360: 300px;
  --hiw-card-width-1440: 360px;

  --hiw-arrow-width: 28px;
  --hiw-arrow-height: 20px;

  --ritual-circle-diameter-320: 150px;
  --ritual-circle-diameter-768: 170px;
  
  --constellation-container-width-large-320: 230px;
  --constellation-container-width-large-360: 175px;
  --constellation-container-width-large-390: 190px;
  --constellation-container-width-large-768: 220px;
  
  --constellation-container-width-medium-320: 200px;
  --constellation-container-width-medium-360: 135px;
  --constellation-container-width-medium-390: 150px;
  --constellation-container-width-medium-768: 180px;
  
  --constellation-container-width-narrow-320: 170px;
  --constellation-container-width-narrow-360: 115px;
  --constellation-container-width-narrow-390: 130px;
  --constellation-container-width-narrow-768: 160px;

  --form-max-width: 400px;
}