:root {
  --shadow-preloader-first: 0 0 14px rgba(180, 80, 255, 0.7);
  --shadow-preloader-second: 0 1px 3px rgba(180, 80, 255, 0.3);
  --shadow-3d: inset 8px 8px 12px rgba(0, 0, 0, 0.5);
  --shadow-ritual-answer: inset 8px 8px 16px rgba(0, 0, 0, 0.5);
  --shadow-benefits-card-default: inset 0 8px 24px #26106C;
  --shadow-benefits-card-hover: inset 0 8px 24px #1D0C45;
}
